<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets">
  <h:head>
    <meta charset="UTF-8" />
    <title>Set server configuration</title>
    <style>
      label, input, p {
        float: left
      }

      label {
        clear: left;
        width: 12em
      }

      p, input[type="submit"] {
        clear: left
      }
    </style>
  </h:head>
  <h:body>
    <h1>Set server configuration</h1>
    <form method="post">
      <ui:repeat value="#{cfgProps}" var="prop">
        <label for="#{prop.name}">#{prop.description}:</label>
        <input id="#{prop.name}" name="#{prop.name}"
               value="#{prop.value}" />
      </ui:repeat>
      <input type="submit" value="Save" />
    </form>
    <p><h:outputText rendered="#{message != null}"
                     value="#{message}" /></p>
  </h:body>
</html>
